﻿@model BankMVCApp.Models.CustomerViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create Customer</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Customer</h4>
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>
    <h4>Mailing Address</h4>
    <div class="form-group">
        @Html.LabelFor(model => model.MailingAddress.StreetName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MailingAddress.StreetName)
            @Html.ValidationMessageFor(model => model.MailingAddress.StreetName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MailingAddress.City, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MailingAddress.City)
            @Html.ValidationMessageFor(model => model.MailingAddress.City, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MailingAddress.State, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MailingAddress.State)
            @Html.ValidationMessageFor(model => model.MailingAddress.State, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MailingAddress.Zip, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MailingAddress.Zip)
            @Html.ValidationMessageFor(model => model.MailingAddress.Zip, "", new { @class = "text-danger" })
        </div>
    </div>
    <div>
        <input id="IsBillingSameAsMainling" name="IsBillingSameAsMainling" type="checkbox" />
    </div>
    <h4>Billing Address</h4>
    <div class="form-group">
        @Html.LabelFor(model => model.BillingAddress.StreetName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BillingAddress.StreetName)
            @Html.ValidationMessageFor(model => model.BillingAddress.StreetName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.BillingAddress.City, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BillingAddress.City)
            @Html.ValidationMessageFor(model => model.BillingAddress.City, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.BillingAddress.State, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BillingAddress.State)
            @Html.ValidationMessageFor(model => model.BillingAddress.State, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.BillingAddress.Zip, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BillingAddress.Zip)
            @Html.ValidationMessageFor(model => model.BillingAddress.Zip, "", new { @class = "text-danger" })
        </div>
    </div>
    <h4>Account Type Selection</h4>
    <div class="form-group">
        @Html.Label("Checking", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input id="CheckingAccount" name="CheckingAccount" type="checkbox" value="1" />
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Saving", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input id="SavingAccount" name="SavingAccount" type="checkbox" value="2" />
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</div>
}
<script type="text/javascript">
    $(function () {
        $("#IsBillingSameAsMainling").change(function () {
            if (this.checked) {
                var street = $("#MailingAddress_StreetName").val();
                var city = $("#MailingAddress_City").val();
                var state = $("#MailingAddress_State").val();
                var zip = $("#MailingAddress_Zip").val();

                $("#BillingAddress_StreetName").val(street);
                $("#BillingAddress_City").val(city);
                $("#BillingAddress_State").val(state);
                $("#BillingAddress_Zip").val(zip);
            }
            else {
                $("#BillingAddress_StreetName").val('');
                $("#BillingAddress_City").val('');
                $("#BillingAddress_State").val('');
                $("#BillingAddress_Zip").val('');}
        });
    });
</script>