﻿@model BankMVCApp.Models.DashboardModel
@{
    ViewBag.Title = "Index";
}
<script>
    $(function () {
        $(".row").click(function () {
            var a = $(this).closest('tr').find('td:first').html();
            lnk = '/Dashboard/CustomerDetails/' + a.trim();
            $("#custDetail").load(lnk);
        });
    });
</script>

<h2>Dashboard</h2>
<p>
    @Html.ActionLink("Create New Customer", "Create", "Customer")
</p>
<table class="table">
    <thead>
        <tr>
            <td>@Html.Display("ID")</td>
            <td>@Html.Display("First Name")</td>
            <td>@Html.Display("Last Name")</td>
            <td>@Html.Display("Created Date")</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
        <tr class="row">
            <td>
                @Html.DisplayFor(m => item.CustomerId)         
            </td>
            <td>
                @Html.DisplayFor(m => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(m => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(m => item.CreatedDateTime)
            </td>
        </tr>
        }
    </tbody>
</table>
<h3>Customer Details</h3>
<div id="custDetail" class="container"></div>