﻿@model BankMVCApp.Models.CustomerDetailViewModel
<div>
    <table class="table">
        <tr class="">
            <td class="table-bordered">
                <div>
                    <h4>Customer Info:</h4>
                    <div>
                        <div>
                            @Html.LabelFor(x => x.FirstName)
                            @Html.DisplayFor(x => x.FirstName)
                        </div>
                        <div>
                            @Html.LabelFor(x => x.LastName)
                            @Html.DisplayFor(x => x.LastName)
                        </div>
                        <div>
                            @Html.LabelFor(x => x.CustomerSince)
                            @Html.DisplayFor(x => x.CustomerSince)
                        </div>
                    </div>
                </div>
            </td>
            <td class="table-bordered">
                <div>
                    <h4>Address Details:</h4>
                    <div>
                        @foreach (var item in Model.Addresses)
                        {
                            <h2>@item.AddressType</h2>
                            <div>
                                @Html.DisplayFor(itm => item.StreetName)
                            </div>
                            <div>
                                @Html.DisplayFor(itm => item.City)
                                @Html.DisplayFor(itm => item.State)
                                @Html.DisplayFor(itm => item.Zip)
                            </div>
                        }
                    </div>
                </div>
            </td>
            <td class="table-bordered">
                <div>
                    <h4>Account Details:</h4>
                    <div>
                        @foreach (var item in Model.Accounts)
                        {
                            <h2>@item.AccountType.AccountType1</h2>
                            <div>
                                @Html.LabelFor(x => item.AccountNumber)
                                @Html.DisplayFor(itm => item.AccountNumber)
                            </div>
                            <div>
                                @Html.LabelFor(x => item.AvailableBalance)
                                @Html.DisplayFor(itm => item.AvailableBalance)
                                @Html.ActionLink("Create","Create","Transaction", new { id=item.AccountId})
                            </div>
                        }
                    </div>                   
                </div>
            </td>
        </tr>
    </table>
</div>
