﻿@model IEnumerable<BankDB.Model.Account>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p class="text-success">
    @ViewBag.Message
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpenedDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosedDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountType.AccountType1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenedDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClosedDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountType.AccountType1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccountId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccountId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccountId })
        </td>
    </tr>
}

</table>
