﻿@model BankDB.Model.UserLogin

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("LogOn", "AccountLogin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div id="AccountLogOn">
        <div class="">
            @Html.LabelFor(mdl => mdl.UserName)

        </div>
        <div>
            @Html.EditorFor(mdl => mdl.UserName)
            @Html.ValidationMessageFor(mdl => mdl.UserName, "*")
        </div>
        <div class="">
            @Html.LabelFor(mdl => mdl.Password)
        </div>
        <div>
            @Html.PasswordFor(mdl => mdl.Password)
            @Html.ValidationMessageFor(mdl => mdl.Password, "*")
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Login" />
        </div>
        <div class="text-danger">
            @ViewBag.AuthMessage
        </div>
    </div>
}